# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter autosave files
*.~*~

# Ignore simulated data files
RRIviz/simulation_data/